.post_container {
  text-align: center;
}

.post_container h3 {
  margin-bottom: 0.2em;
}

.post_container .tags {
  display: flex;
  justify-content: center;
}

.tags p {
  margin-right: 1em;
}

.tags span {
  font-weight: bold;
}

/* Estilo específico para o corpo do post */
.post_body {
  margin: 20px auto; /* Margem superior e inferior para espaçamento */
  padding: 0 40px; /* Padding lateral para afastar o texto */
  text-align: justify; /* Justifica o texto */
  max-width: 900px; /* Limita a largura para centralizar o texto */
}