.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #323232;
}

.footer a {
  color: white; /* Define a cor do texto como branco */
  transition: color 0.3s ease; /* Adiciona uma transição suave na cor */
}

.footer a:hover {
  color: orange; /* Muda a cor para laranja ao passar o mouse */
}
