/* Estilização do Detalhes do Agendamento */

.post_detail {
  text-align: center;
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 8px;
}

.post_detail img {
  width: 60%;
  height: auto;
  margin-bottom: 0.8em;
  position: relative;
  object-fit: contain;
}

.post_detail h2 {
  margin-bottom: 0.4em;
}

.post_detail .tags {
  margin-bottom: 1.2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tags p {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.tags span {
  font-weight: bold;
}

.createdby {
  font-style: italic;
  color: #444;
  font-size: 0.8em;
  margin-bottom: 1em;
}

/* Media query para telas menores que 600px */
@media (max-width: 600px) {
  .post_detail img {
    width: 100%;
  }
}